{% load i18n %}
{% load l10n %}
{% load tz %}
{% load staticfiles %}
{% load static %}
<div id="confirm-nombre">
    <p>NOMBRE DEL PRODUCTO : </p>
    <p id="c-nombre-producto" style="color:#991fff;"></p>
</div>
<br>
<div id="confirm-ubicacion">
    <p>UBICACIÓN : </p>
    <p id="c-ubicacion-producto" style="color:#991fff;"></p>
</div>
<br>
<div id="confirm-precio-producto">
    <p>PRECIO : </p>
    <p id="c-precio-producto" style="color:#991fff;"></p>
</div>
<br>
<div id="confirm-cantidad-producto">
    <p>CANTIDAD : </p>
    <p id="c-cantidad-producto" style="color:#991fff;"></p>
</div>
<br>
<div id="confirm-descripcion-producto">
    <p>DESCRIPCIÓN : </p>
    <p id="c-descripcion-producto" style="color:#991fff;"></p>
</div>
