{% load i18n %}
{% load l10n %}
{% load tz %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link  rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'css/mediaqueries.css' %}">
</head>
<body><p style="text-align: center;"> <span class="title-retrie-email">Recuperar contraseña</span></p>


    <form method="post" class="cont-retrie-email">
            {% csrf_token %}
             {{ form.email.errors }}
            <div class="cont-row">
                <div class="column50">
                    <label for="id_email">Correo:</label>
                </div>
                <div class="column50">
                    <input id="id_email" class="inputs-login" type="text" name="email">
                </div>
                <div class="cont-submit">
                    <input style="color:#31acf7;background-color: white;" type="submit" value="Enviar"/>
                </div>
            </div>



    </form>
</body>
</html>