{% load i18n %}
{% load l10n %}
{% load tz %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 class="text-center" style="background-color: #00bcad;color: white;font-size: 2em; padding: 10px;">Su contraseña se reestableció correctamente</h1>
<p style="background-color: transparent;border: 1px solid #17adff;color: #31acf7;padding: 5px;"><a href="{% url 'login:login' %}">Iniciar sesión</a></p>
</body>
</html>