{% load i18n %}
{% load l10n %}
{% load tz %}
{% load staticfiles %}
{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="fb:app_id" content="547750025693775"/>
    <!---->
    <meta property="og:url" content="https://madebylio.com" />
     <meta property="og:type"   content="website" />
    <meta property="og:title" content="Lio Mundo" />
    <meta property="og:description" content="Productos contemporaneos para el Hogar " />
    <meta property="og:image:url" content="https://madebylio.com/static/img/base-test.png"/>
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="261" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:locale" content="alternate"/>
    <!--<script type="text/javascript" 100025549592624  https://www.facebook.com/plugins/post/oembed.json/?url=https%3A%2F%2Fmadebylio.com%2media%2Fbasesixfor%2Ftakansat.png%2F>
    // <![CDATA[
        var meta = document.createElement('meta');
        meta.setAttribute("property", "og:url");
        meta.setAttribute("content", location.href);
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(meta);
    // ]]>
</script>-->
    <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Made By Lio</title>

    <link  rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'css/productos.css' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'css/galeria.css' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'css/contacto.css' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'css/mediaqueries.css' %}">
    <script type="text/javascript">
    var imgfake1= new Image();
    var imgfake2= new Image();
    var imgfake3= new Image();
    var imgfake4= new Image();
    var imgfake5= new Image();
    var imgfake6= new Image();
    var imgfake7= new Image();

        	imgfake1.setAttribute('src','https://madebylio.com/media/color/amarillo_madebylio.jpg');
        	imgfake2.setAttribute('src','https://madebylio.com/media/color/azul_madebylio.jpg');
        	imgfake3.setAttribute('src','https://madebylio.com/media/color/fuxia_madebylio.jpg');
        	imgfake4.setAttribute('src','https://madebylio.com/media/color/morado_madebylio.jpg');
        	imgfake5.setAttribute('src','https://madebylio.com/media/color/naranja_madebylio.jpg');
        	imgfake6.setAttribute('src','https://madebylio.com/media/color/negro_madebylio.jpg');
        	imgfake7.setAttribute('src','https://madebylio.com/media/color/verde_madebylio.jpg');

        	//imgfake11.setAttribute('src','/static/pages/15.jpg');
        	//imgfake12.setAttribute('src','/static/pages/16.jpg');
</script>
    <link  rel="stylesheet" type="text/css" href="https://vjs.zencdn.net/6.6.3/video-js.css" >
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/html2canvas.js' %}"></script>
    <script src="//vjs.zencdn.net/6.6.3/video.js"></script>
    <script type="text/javascript">

        var usuario = "{{ user }}";
        var nombre = "{{ transfer }}";

        //alert(usuario);

    </script>


</head>
<body>
    <!--<div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1835539143194927&autoLogAppEvents=1';
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script> -->



    <!--<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2&appId=547750025693775&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> -->
<div id="fb-root"></div>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '547750025693775',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!--        <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '547750025693775',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.2'
    });
  };
    //FB.AppEvents.logPageView();
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));




/*{

function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}
    status: 'connected',
    authResponse: {
        accessToken: '...',
        expiresIn:'...',
        signedRequest:'...',
        userID:'...'
    }
}*/
</script> -->


    <!--Cuerpo Principal-->
            <div id="escritorio" data-emit-events>
                <div id="cont-fondo-principal">
                    <object style="width: 100%;height: auto;" data="{% static 'img/svg/fondo/fondo.svg' %}" type="image/svg+xml"></object>

                </div>
                <div id="inicio" class="seccion1 color-seccion1">

                    {% include 'base/inicio.html' %}
                    <!-- Facebook section-->
                     <!--<div style="position: absolute;top: 47%;left:12%;width: 35vw;height:50vh; ">
        <div class="fb-page" data-href="https://www.facebook.com/Lio-182105009265591/" data-tabs="timeline,emmsages" data-width="400" data-height="300" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Lio-182105009265591/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Lio-182105009265591/">Lio</a></blockquote></div>
 </div>-->
                </div>

                <div id="productos" class="seccion2 color-seccion2">

                    {% include 'base/productos.html' %}

                </div>


                <div id="galeria" class="seccion3 color-seccion3">

                    {% include 'base/galeria.html' %}
                    <!--<div id="maquechita">maquechita</div>-->
                </div>

                <div id="contacto" class="seccion4 color-seccion4">

                    {% include 'base/contacto.html' %}

                </div>

                <div id="helper">

                    <div id="zona1"></div>
                    <div id="zona2"></div>
                    <div id="zona3"></div>
                    <div id="zona4"></div>
                    <!--<div id="zona5"></div>-->
                </div>
                <!--<div id="cont-nickname">Nickname</div>-->

                <!--<button id="btn-login">Login</button>-->


            <!--<div id="page-state" style="position: absolute; top: 45%;left:30%; width:60%;background-color: #FFFFFF ">Mantenimiento de la pagina, trabajando en edicion de productos ya creados y vista de productos cliente(pagina principal y drag and drop).Ultima actualizacion:panel de confirmacion de creacion de producto terminado (FALTA AGREGAR CSS ESTILO FUENTE COLOR). 14:02 COL. </div>-->

        </div>


    <div id="mod-escritorio">
    <div id="navmenu">
                    <object id="menu-nav" data="{% static 'img/svg/menu/menu.svg' %}" type="image/svg+xml" style=" position: absolute;top:0;left:0;width: 100%;height:auto;"></object>
                    <div id="gohome">
                        <div id="inicio-announce" class="hideme">{% trans 'Home' %}</div>
                    </div>
                    <div id="goproductos">
                        <div id="productos-announce" class="hideme">{% trans 'Products' %}</div>
                    </div>
                    <div id="gogaleria">
                        <div id="galeria-announce" class="hideme">{% trans 'Gallery' %}</div>
                    </div>
                    <div id="gocontacto">
                        <div id="contacto-announce" class="hideme">{% trans 'Contact' %}</div>
                    </div>
    </div>
    </div>


    <!-- menu de navegacion SOLO MOVIL-->
    <div class="cont-btn-menu">
            <div id="go-shopcar" class="simple-link">
                <p class="icon-shopcar">

                </p>
            </div>
            <p id="cart-number">{{shopitem}}</p>
            <div id="go-users" class="simple-link">
                <p class="icon-users">

                </p>
            </div>
            <div id="go-menu" class="simple-link">
                <p class="icon-menu">

                </p>
            </div>
            <div class="title-menu">
                    <div class="cont-flags-mob">
                        <div class="trust-cont-flags-mob"></div>
                        <div class="scrolling-wrapper-mob">

                        <div class="show-flags-mob"><img src="{% static 'img/svg/productos/slider-arrow.svg' %}" style="width: 100%;height: auto;"></div>
                        <!--<div class="card"><img src="{% static 'img/colombia.jpg' %}" style="width: 100%;height: 100%;border-radius: 50%;" data-pais="COL"></div>
                        <div class="card"><img src="{% static 'img/australia.png' %}" style="width: 100%;height: 100%;border-radius: 50%;" data-pais="AUS"></div>
                        <div class="card"><img src="{% static 'img/estados_unidos.png' %}" style="width: 100%;height: 100%;border-radius: 50%;" data-pais="USA"></div>
                        <div class="card"><img src="{% static 'img/italia.png' %}" style="width: 100%;height: 100%;border-radius: 50%;" data-pais="ITA"></div>-->
                       <!-- <div class="card"><img src="{% static 'img/mexico.png' %}" style="width: 100%;height: 100%;border-radius: 50%;"></div>-->
                </div>
                    </div>
                    <div class="shadow-flags"></div>
            </div>
        </div>
    <div class="nav-hide-menu">
            <ul>
                <li>
                    <a id="mob-home-btn" class="flex-row total-contain simple-link" href="">
                        <p class="icon-inicio">

                        </p>
                        <p class="text-inicio">
                            {% trans 'Home' %}
                        </p>
                    </a>
                </li>
                <li>
                    <a id="mob-prod-btn" class="flex-row total-contain simple-link" href="">
                        <p class="icon-productos">

                        </p>
                        <p class="text-productos">
                            {% trans 'Products' %}
                        </p>
                    </a>
                </li>
                <li>
                    <a id="mob-gal-btn" class="flex-row total-contain simple-link" href="">
                        <p class="icon-galeria">

                        </p>
                        <p class="text-galeria">
                            {% trans 'Gallery' %}
                        </p>
                    </a>
                </li>

                 <li>
                    <a id="mob-contact-btn" class="flex-row total-contain simple-link" href="">
                        <p class="icon-contacto">

                        </p>
                        <p class="text-contacto">
                            {% trans 'Contact' %}
                        </p>
                    </a>
                </li>

                <!--<li><input type="text" style="font-family: icomoon" placeholder="&#xe900"></li>-->
            </ul>
        </div>
    <div class="nav-hide-user">
    <!-- --------------------------- -->
        <div class="no-log">


            <ul>
                <li class="li-login">
                    <a  href="" class="flex-row simple-link li-item font-white">
                        <p class="icon-login"></p>
                        <p id="text-signin">{% trans 'Sign In' %}</p>
                    </a>
                    <div class="li-content hiden" >
                        <div class="no-log">
                            {% include 'plantillas_html/responsive-login.html' %}
                        </div>
                    </div>
                </li>
                <li class="li-reg">
                    <a href="" class="flex-row total-contain simple-link li-item font-white">
                        <p class="icon-logup"></p>
                        <p id="text-signup">{% trans 'Sign Up' %}</p>
                    </a>
                    <div  class="li-content hiden">
                            {% include 'plantillas_html/responsive-reg.html' %}
                    </div>
                </li>
            </ul>
        </div>
        <div class="log" style="display: none">
            {% include 'plantillas_html/user-panel.html' %}
        </div>

    </div>


    <!-- login/reg escritorio-->
    <div class="dash-log-reg">
        <div class="cont-flags">
            <div class="trust-cont-flags"></div>
<div class="scrolling-wrapper">

            <div class="show-flags"><img src="{% static 'img/svg/productos/slider-arrow.svg' %}" style="width: 100%;height: auto;"></div>
            <!--<div class="card"><img src="{% static 'img/colombia.jpg' %}" style="width: 100%;height: 100%;border-radius: 50%;" data-pais="COL"></div>
            <div class="card"><img src="{% static 'img/australia.png' %}" style="width: 100%;height: 100%;border-radius: 50%;" data-pais="AUS"></div>
            <div class="card"><img src="{% static 'img/estados_unidos.png' %}" style="width: 100%;height: 100%;border-radius: 50%;" data-pais="USA"></div>
            <div class="card"><img src="{% static 'img/italia.png' %}" style="width: 100%;height: 100%;border-radius: 50%;" data-pais="ITA"></div>-->
           <!-- <div class="card"><img src="{% static 'img/mexico.png' %}" style="width: 100%;height: 100%;border-radius: 50%;"></div>-->
    </div>
        </div>
            <object style="width: 100%;height: auto;position:absolute;top:0;left:0;" data="{% static 'img/svg/login-registro/cloud.svg' %}" type="image/svg+xml"></object>
        <div class="cont-prof-photo">
            <img style="position: absolute;top:7.5%;left: 7.5%;width: 85%;height: 85%;" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
        </div>
        <div class="cont-login-desktop">
            {% include 'plantillas_html/reg-form.html' %}
            {% include 'plantillas_html/login-form.html' %}
        </div>
        <p class="reg-text">{% trans 'Sign Up' %}<p>
        <p class="login-text">{% trans 'Sign In' %}</p>
        <p class="nickname">{{ transfer }}</p>
        <p class="myprofile">{% trans 'My Profile' %}</p>
        <p class="myshops">{% trans 'My Shops' %}</p>
        <a id="btn-salir-login" style="position: absolute;top: auto;right:12%; text-decoration: none;color: #fff; background-color: #f15a24;border-radius: 5px; padding: 3px;transform: rotate(-90deg);" href="{% url 'salirhome' %}">{% trans 'Log Out' %}</a>
        <div class="vertical-line"></div>
        <div class="vertical-line2"></div>
    </div>

    <!-- sprite logo-->
    <div id="sprite-double"></div>


    <script>
       /* $("#check-pinte").on('click',function () {
            //alert('asdasd');
           document.querySelector('#a-url').setAttribute('href','http://www.pinterest.com/pin/create/button/?url=' + encodeURIComponent($(location).attr("href")) + '&media=' + encodeURIComponent("https://localhost:8000/static/img/a_t2.png") + '&description=' + encodeURIComponent("test a image"));
        });*/
    </script>
    <script type="text/javascript" src="{% static 'js/skrollr.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'js/test_slider.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/generic.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/test_productos.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/galeria.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/contacto.js' %}"></script>

</body>
</html>