
.producto-findbtn
{
    width: 70px;
    height: 70px;
    position: absolute;
    top:8%;
    left:60%;
}
.producto-addbtn
{
    width: 70px;
    height: 70px;
    position: absolute;
    top:8%;
    left:49%;
}
.producto-newproducto
{
    width: 75%;
    height: 85%;
    position: absolute;
    top:3%;
    left:20%;
    border-radius: 5px;
    border: solid 2px #a8a8a8;
    background-color: #f6f6f6;
}
.producto-check
{
    width: 11.5%;
    height: 4%;
    position: absolute;
    top:65%;
    left:65%;
}
#next-temp2
{
    width: 10%;
    height: 5%;
    position: absolute;
    top:70%;
    left: 85%;
    background-color: red;
}

#cont-createproductform
{
    width:100%;
    height: 100%;
    position: absolute;
    top:5%;
    left: 10%;
    background-color: transparent;
    overflow-y: scroll;
}
#cont-info-troquel
{
    width: 30%;
    height: 53.33%;
    position: absolute;
    top:20%;
    left:60%;

}
#zonas-info-troquel
{
    width: 100%;
    height: 100%;
}
#add-color
{
    padding: 10px;
    position: absolute;
    top:80%;
    left:60%;
    background-color: #039efc;
    border-radius: 5px;
    color: #ffffff;
    border: solid black 1px;
}
#cont-add-color
{
    width: 30%;
    height: 70%;
    background-color: white;
    position: absolute;
    top:15%;
    left:60%;
    display:none;
    border-radius: 10px;
    border: solid #fc2e3c 10px;
}
#cont-inputslabels-colorform /*contenedor de label y input del troquel add form*/
{
    width: 90%;
    height: 40%;
    position: absolute;
    top:0;
    left: 5%;
    overflow: visible;
}
#crear-color-btn
{
    width: 15%;
    padding: 5px;
    border-radius: 5px;
    background-color: #039efc;
    position: absolute;
    top:90%;
    left:80%;
    border: none;
    color: white;
}
#text-create-color
{
    position: absolute;
    top: 15%;
    left: 30%;
    font-family: shakeoffchunki;
    font-size: 0.8em;
}
#cont-preimg-color
{
    width: 45%;
    height: 40%;
    position: absolute;
    top:48%;
    left:27.5%;
    border: 1px groove black;
}
#volver-troquel
{
    padding: 7px;
    position: absolute;
    top:78%;
    left: 74%;
    color: white;
    background-color:#D4145A;
    border: solid 1px white;
    border-radius: 5px;
}
.pretty-btn
{
    padding: 7px;
    position: absolute;
    top:78%;
    left: 80%;
    color: white;
    background-color: #5a93ee;
    border: solid 1px white;
    border-radius: 5px;
}

#text-create-producto
{
    position: absolute;
    top: 22%;
    left: 30%;
    font-family: shakeoffchunki;
    font-size: 0.8em;
}
#cancel-add-color
{
    padding: 5px;
    border-radius: 5px;
    background-color: #fc2e3c;
    position: absolute;
    top:90%;
    left:60%;
    border: none;
    color: white;
}